@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// ===========================================

.container {
    width: 100vw;
    min-height: 100vh;
    @include flex-center();
    flex-direction: column;
}
// ==============================================
.main {
    flex: 1;
    @include flex-center();
    flex-direction: column;
    flex-wrap: wrap;

}

.header {
    @include flex-center();
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    margin: 1em 0;
    position: relative;
    //
    &:before {
        position: absolute;
        width: 10%;
        height: 10%;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #000;
    }
    &:after {
        position: absolute;
        width: 10%;
        height: 10%;
        top: 2em;
        right: 2em;
        bottom: 0;
        content: '';
        background: #0ac5ad;
    }
}

// ==========================================

.img{
    border-radius:1em;
}
// ==========================================
.backgrounfinal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3em;
    width: 100vw;
    height: 100vh;
    margin: 1.5em 0;
    background-image: url(/images/last-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    //
    h3 {
        font-size: 3em;
        width: 50%;
    }
    b {
        color: #5FFBF1;
    }
}

// ======================================

.pregunta {
    @include flex-center();
    width: 100vw;
    height: 100vh;
    margin: 1.5em 0;
}

// ===================================

.footer {
    @include flex-center();
    flex-flow: column;
    width: 100vw;
    height: 20vh;
    margin: 1em 0 0 0;
    border-top:3px solid #86A8E7;
}
// ==================================
@media(max-width:1000px){

}