.FilterInputSelect {
  position: relative;
  top: 4px;
  margin: 0 12px 0 12px;
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
}

.FilterInputSelect-arrowDown {
  position: relative;
  top: 4px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.FilterInputSelect-cross {
  position: relative;
  width: 11px;
  left: 18px;
  top: 5px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}

.FilterInputSelect-badge {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  border-radius: 50px;
  background-color: #0cc44a;
  margin: 0 0 0 10px;
  user-select: none;
  align-items: center;
}
