@font-face {
  font-family: ChargeVector;
  src: url(/ChargeVector.ttf);
}

a {
  color: inherit;
  text-decoration: none;
  color: black;
}

* {
  font-family: 'ChargeVector', Arial, Helvetica, sans-serif;
}

.aos-init:not(.aos-animate):after {
  position: fixed;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}
