@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
  color: inherit;
  text-decoration: none;
  color: black;
}

* {
  font-family: 'Catamaran', sans-serif;
}
.aos-init:not(.aos-animate):after {
  position: fixed;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background: #000;
  scroll-behavior: smooth;
}
