.SearchInput {
  display: inline-table;
  background-color: #eaeaeb;
  width: 400px;
  height: 42px;
  border-radius: 50px;
}

.SearchInput-icon {
  display: table-cell;
  color: #cccdce;
  float: left;
  margin: 13px 5px 0 13px;
}

.SearchInput-inputContainer {
  display: table-cell;
  width: 100%;
  height: 100%;
}

.SearchInput-input {
  margin: 0;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-size: 15px;
  background-color: transparent;
  border-style: none;
}

.SearchInput-inputSmall {
  display: none;
}

.SearchInput-input:focus {
  outline: none;
}
