.ProfessionalDetail-Content-Back-container {
  margin: 37px 0 0 36px;
  width: fit-content;
  cursor: pointer;
  user-select: none;
}

.ProfessionalDetail-Content-Back-text {
  display: inline-block;
  font-size: 16px;
  margin-left: 12px;
}
