.FilterInputSelectOptions {
  position: absolute;
  min-width: 300px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  z-index: 1;
}

.FilterInputSelectOptions-container {
  margin-left: 22px;
}

.FilterInputSelectOptions-control {
  width: 100%;
  margin-top: 3px;
  left: 22px;
  color: #7a869a;
}

.FilterInputSelectOptions-controlCheckbox {
  float: left;
}

.FilterInputSelectOptions-controlCheckbox:checked {
  color: #0CC44A;
}
