@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  font-family: ProximaNova;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #202221, #32363d);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  font-family: ProximaNova;
}
