.OpenableImage {
  cursor: pointer;
}

.OpenableImage-modalPaper {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 70%;
  margin-top: 15px;
}

.OpenableImage-modalTitle {
  text-align: center;
}

.OpenableImage-modalClose {
  float: right;
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.OpenableImage-modalImage {
  width: 80%;
}
