@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap');

#root,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fauna One', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  font-size: 1.2em;
}

button {
  width: 150px;
  padding: 1em 0;
  border: none;
  outline: none;
  background: #f8ac30;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}
