.ProfessionalDetail-Content-WorkArea-container {
  width: 100%;
  float: left;
  margin: 2px 0 0 -2px;
}

.ProfessionalDetail-Content-WorkArea-workshopIcon {
  float: left;
  width: 22px;
}

.ProfessionalDetail-Content-WorkArea-text {
  float: left;
  font-size: 16px;
  text-align: left;
  margin: 0 0 0 17px;
}
