.ProfessionalDetail-Content-Facebook-container {
  width: 100%;
  float: left;
  margin-top: 22px;
}

.ProfessionalDetail-Content-Facebook-icon {
  float: left;
}

.ProfessionalDetail-Content-Facebook-text {
  float: left;
  font-size: 16px;
  text-align: left;
  margin: 0 0 0 25px;
  color: white;
}

.ProfessionalDetail-Content-Facebook-link {
  color: #0cc44a;
}

.ProfessionalDetail-Content-Facebook-link:hover {
  color: #14a042;
}
