html,
body {
  width: 100vw;
  height: 100%;
  font-family: 'raleway', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  background-color: white;
  scroll-behavior: smooth;
}
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
