.FilterInput {
  display: inline-block;
  height: 42px;
  margin-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.FilterInput-spinner {
  width: 20px;
  height: 20px;
  color: #0cc44a;
}
