.ProfessionalDetail-Content-Phone-container {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.ProfessionalDetail-Content-Phone-icon {
  float: left;
}

.ProfessionalDetail-Content-Phone-text {
  float: left;
  font-size: 16px;
  text-align: left;
  margin: 0 0 0 15px;
}

.ProfessionalDetail-Content-Phone-copyIcon {
  float: left;
  margin: 2px 0 0 8px;
  cursor: pointer;
}